@import '../base/variables';

/* --- 
    CARDS
--- */

.cards {
    justify-content: center;
    margin-bottom: 12rem;

    .card {
        width: 100%;
        max-width: 30rem;
        margin: 2.5rem;
        border: 0.1px solid rgba(0,0,0,0.2);
        border-radius: 6px;
        overflow: hidden;
        background: $withe;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        transition: all 400ms ease-out;
        cursor: default;

        &:hover {
            box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
            transform: translateY(-3%);
        }

        &__img img {
            width: 100%;
            height: 21rem;
            border-radius: 6px;
        }

        &__content {
            padding: 15px;
            text-align: center;

            h4 {
                margin-bottom: 15px;
                color: $primary-color-text;
                font-size: 1.17em;
                font-weight: bold;
            }

            p {
                line-height: 150%;
                color: $accent-color;
                font-size: 16px;
                margin-bottom: 5px;
            }
        }
    }
}

/* --- 
    FIN CARDS
--- */
