@import '../base/variables';
@import '../utilities/mixins';
@import '../base/normalize';

/* --- 
    PAGINA CONTACTOS
--- */

.contacto__content {
    margin-bottom: 5rem;
}

.contacto {
    @include lg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.contacto__textos {
    width: 60%;
    margin: 1rem auto;
    text-align: center;

    @include lg {
        width: 85%;
        text-align: left;
    }

    @include sm-min {
        width: 75%;
    }

    hr {
        border: 0px;
        width: 20%;
        height: .2rem;
        border-radius: 1rem;
        background-color: #523A34;

        @include lg {
            margin: 2rem 0;
        }

        @media (max-width: 768px) {
            margin: 2rem auto;
            width: 90%;
        }
    }

    p {
        color: $primary-color-text;
        margin-left: .5rem;
        margin-bottom: 4rem;
    }

    &-correo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        margin-left: .8rem;

        @include lg {
            justify-content: start;
        }

        i {
            font-size: 3rem;
            color: $accent-color;
            margin-bottom: 4rem;
        }

        p {
            color: $primary-color-text;
            font-weight: 200;
        }
    }
}
/* --- 
    FIN PAGINA CONTACTOS
--- */
