@import '../base/variables';
@import '../utilities/mixins';

/* --- 
    PAGINA INDEX
--- */
 
.post-one {
    height: 80rem;

    @include sm {
        height: 84rem;
    }

    @include lg {
        height: 56rem;
    }
    
    &__content-img {
        @include centrarContenido;
        margin: 5rem 2rem;
        img {
            @include rotarImg(-8deg);
        }
    }

    &__content-texts {
        text-align: center;

        p {
            width: 80%;
            margin: 2rem auto;
            line-height: 150%;
            color: $primary-color-text;
        }

        @include lg {
            text-align: left;
            
            h3 {
                margin-top: 8rem;
            }

            p {
                margin-left: 0;
            }
        }
    } 
}


.post-two {
    height: 80rem;
    background: $primary-color;

    @include sm{
        height: 84rem;
    }

    @include lg {
        height: 60rem;
    }

    &__content-img {
        @include centrarContenido;
        margin: 5rem 2rem;
        img {
            @include rotarImg(10deg);
        }
        order: 1;

        @include lg {
            order: 2;
        }
    }

    &__content-texts {
        text-align: center;
        order: 2;
        p {
            width: 80%;
            margin: 2rem auto;
            line-height: 150%;
            color: $primary-color-text;
        }

        @include lg {
            text-align: left;
            
            h3 {
                margin-top: 8rem;
            }

            p {
                margin-left: 0;
            }
            order: 1;
        }
    }
}

.newsletter {
    position: relative;
    z-index: 0;

    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
    }

    &::before {
        left: 0;
        border-bottom: 6px solid $accent-color;
    }

    &::after {
        right: 0;
        border-top: 6px solid $accent-color;
    }

    &__div {
        height: 45rem;
        text-align: center;
        @include centrarContenido;

       @include sm-max {
           width: 80%;
       }

        &__parrafo {
            margin: 4rem auto;
        } 
    
        .fields__field {
            z-index: 2;
        }
    
        button {
            margin-top: 4rem;
            text-align: center;
            z-index: 2;
        }
    }
}

/* --- 
    FIN PAGINA INDEX
--- */